/* טעינת הפונט המודרני Inter */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&display=swap');
@import '@angular/material/prebuilt-themes/indigo-pink.css';

html, body { 
    height: 100%; 
    margin: 0; 
    /* הגדרת הפונט לכל האתר */
    font-family: 'Inter', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
    /* צבע רקע אפור-לבן נקי כמו בתמונה */
    background-color: #F9FAFB; 
    color: #111827; /* צבע טקסט כהה מאוד אך לא שחור */
}